body,html{
    overflow-x: hidden;
  
}
.homepage{
    background-image : url("./../images/mindjam3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:100vh;
}
.nav-item{
    color: black;
    background-color: white;
    margin: 0 8px;
}
.text-container{
    text-align: center;
    background:rgba(255,255,255, 0.3);
    margin-top: 5rem;
    width: 45%;
    border-radius: 4px;
    padding: 4rem;

}
.text-container p{
    color: white;
    font-size: 2rem;
}
.homepage .btn{
    width: 200px;
    border-radius: 4px;
    margin-right: 16px;
    border: solid 2px;
}
.col{
    padding: 0;
}
.container-fluid{
    padding: 0;
}
.content-box{
    height: 400px;
}
.written-content{
    box-sizing: border-box;
    text-align: center;
    padding: 4rem;
}


 


